<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data-Driven Fashion Trend Forecaster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    {% set request = request %} 
    <!--navbar-->
    <nav class="navbar">
        <!-- Home Link on the left -->
        <ul>
            <li><a href="{{ url_for('home') }}" class="navLink {{ 'navLink--active' if request.path == url_for('home') }}">Home</a></li>
        </ul>

        <!-- Links on the right -->
        <ul class="right-align">
            <li><a href="{{ url_for('TopTrends') }}" class="navLink {{ 'navLink--active' if request.path == url_for('TopTrends') }}">Top Trends</a></li>
            <li><a href="{{ url_for('TrendForecast') }}" class="navLink {{ 'navLink--active' if request.path == url_for('TrendForecast') }}">Trend Forecast</a></li>
        <!--    <li><a href="{{ url_for('DesignerInfluence') }}" class="navLink {{ 'navLink--active' if request.path == url_for('DesignerInfluence') }}">Designer Influence</a></li> -->
        <!--<li><a href="{{ url_for('about') }}" class="navLink {{ 'navLink--active' if request.path == url_for('about') }}">About</a></li>-->
            <li><a href="{{ url_for('home') }}#about"class="navLink">About</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>
